extends layout 
 
block content 
  h1= title 
 
  form(id='GemsForm', action="/resource/Gems", method="POST") 
    div.form-group 
        label.gemsAttr(for='Gems_type') Gems type 
        input#gems_type(type='text',class="form-control" name='Gems_type') 
    div.form-group 
        label.gemsAttr(for='size') Gems size 
        input#size(type='text',class="form-control", name='size') 
    div.form-group 
        label.gemsAttr(for='cost') Gems cost 
        input#cost(type='number',class="form-control", name='cost') 
    input(type="submit" class="btn btn-primary m-2") 
 
  script. 
    document.forms['GemsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 